body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #ad6783;
    transition: 2s;
    font: sans-serif bold;
}

h2 {
    color: #ad6783;
    transition: 2s;
    font: sans-serif bold;
}

video {
    width: 50%;
    height: 50%;
    padding: 40px;
}

p {
    color: black;

}

.body__colum {
    display:flex;
    flex-direction: column;
}