.btnMaps {
    background-color: #c79393;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 

.table{
    display: flex;
    justify-content: center;
}

section table {
    margin: 10px;
}

thead th {
    color: rgb(177, 94, 56);
    background-color: rgb(252, 252, 252);
    font-family: 'Roboto';
    font-size: 16px;
}

tr td {
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
    font-style:italic;
    font-size: 16px;
}
