
section table {
    margin: 10px;

}

thead th {
    color: rgb(177, 94, 56);
    background-color: rgb(252, 252, 252);
    font-family: 'Roboto';
    font-size: 16px;
}

tr td {
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
    font-style:italic;
    font-size: 16px;
}