header {
    background-color: rgb(245, 244, 244);
    flex-direction: column;
    justify-content: center;
}

.header__img{
    width: 7em;
    height: 5em;
    margin: 0.625em;
    transition: 2s;
    padding-left:1.25em;

}

.nav-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 20px;
    color: #c98fa6;
    align-items: center;
    padding: 1em;
}

.nav-item:hover {
    text-decoration: none;
    background-color:#d3a8b9;
    color: white;
    border-radius: 100px;

}


