header {
    background-color: rgb(245, 244, 244);
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.header__img{
    width: 7em;
    height: 5em;
    margin: 0.625em;
    transition: 2s;
    padding-left:1.25em;
    display: block;
    margin: 0 auto;
}

.nav-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 20px;
    color: #c98fa6;
    align-items: center;
}

.nav-item:hover {
    text-decoration: none;
    color: white;
    background-color:#d3a8b9;
    box-shadow: #a77d8e ;
    box-sizing: border-box;
    border-radius: 3.75em;
    box-shadow: 5px 10px 18px #888888;
}


