
@import "header";
@import "footer";
@import "body";
@import "contact";
@import "chart";
@import "productos";

.centrado {
    text-align: center;
    padding: 2em;
}

.fila{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.padding {
    padding-top: 2em;
}